<div id="wrap">
    <div class="logo-section">
        <img src="assets/logo.png" alt="Logo" class="logo">
        <span class="title">Outil de<br>Simulation</span>
      </div>
      <div class="user-section">
        <span class="user-name">Amandine  <br> Machin</span>
        <img src="assets/user-avatar.png" alt="User Avatar" class="user-avatar">
      </div>
   

    <ul class="navbar">
      <li>
        
        <a routerLink="/simulation">Mes simulations</a>
     
      </li>
      <li>
        <a href="#">Créer un scénario</a>
        <ul class="dropdown">
          <li ><a routerLink="/CreerSTertiare">Créer un scénario Commercialisation Tertiaire</a></li>
          <li ><a href="#">Créer un scénario Commercialisation Résidentiel  </a></li>
          <li ><a href="#">Créer un scénario Travaux / Optimisation du patrimoine</a></li>
         
        </ul>
      </li>

    </ul>
  </div>