.navbar {
  height: 3rem;
  padding: 0;
  margin: 0;
  width: 100%;
  font: italic 9px/1em Arial, Verdana, Helvetica;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  position: relative; /* Ensure it's positioned relative to its container */
}


  .text{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px;
  }

 
