button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    margin-top:20px;
    margin-right: 100px;
}

button:hover{
    background-color: #0056b3;
}

.logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 60px;
    height: 50px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 1.2;
    margin-left: 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 10px;
   
  }

  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    background-color: #f5f5f5;
  }

  form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    text-align: right;

  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

 
  