<app-header></app-header>

<div class="content">
  <h1>Stratégie Commerciale Tertiaire</h1>

  <div class="form-group">
    <label for="immeuble-select">Choix d'un immeuble :</label>
   
    <div class="custom-select">
      <div class="selected-option" (click)="toggleDropdown()">
        {{ selectedPaesi ? selectedPaesi.paesi_codext : 'Liste déroulante des immeubles' }}
        
     
      </div>
      <ul class="options-list" [class.show]="dropdownOpen">
        <li *ngFor="let paesi of paginatedList" (click)="selectOption(paesi)">
          {{paesi.paesi_codext}}
        
        </li>
        <li class="pagination-buttons">
          <button *ngIf="currentPage > 1" (click)="changePage($event, currentPage-1)">Précédent ( {{currentPage - 1}} / {{totalPages}})</button>
          <button *ngIf="currentPage < totalPages" (click)="changePage($event,currentPage+1)">Suivant ( {{currentPage + 1}}/ {{totalPages}})</button>
        </li>
      </ul>
    </div>
    <button class="validate-button" (click)="goToPage()">Valider</button>
  </div>
  
</div>

<app-footer></app-footer>
