<app-header></app-header>

<div class="content">
<h1> Stratégie Commerciale Tertiaire</h1>

<div class="form-group">
<label for="immeuble-select"> Choix d'un immeuble :  </label>
<select id="immeuble-select">
<option value="" disabled selected>Liste déroulante : Immeuble d'un portefeuille</option> 
<option value="immeuble1">Immeuble 1</option>      
<option value="immeuble1">Immeuble 2</option>         
<option value="immeuble1">Immeuble 3</option>         
<option value="immeuble1">Immeuble 4</option> 
</select>
<button class="validate-button" (click)="goToPage()"> Valider</button> 
</div>


</div>



<app-footer></app-footer>

