/* building-info.component.css */

 .building-section {
    flex: 1;
    margin-right: 1rem;
    margin-left: 2rem;
    width: 40rem;
    height: 9rem;
    margin-bottom: 15px;
    border-radius: 1rem;
    background-color: rgb(245, 245, 245);
  }
  
   .building-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    white-space: normal;
    text-align: center;
    flex-direction: column;
  }
  
   .building-data {
    display: flex; 
    justify-content: space-around;
    width: 100%;
  }
  
   .logo-container {
    text-align: center;
    margin: 1rem;
  }
  
   .logo-container img {
    max-width: 2rem;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
   .logo-container p {
    margin-top: 0.5rem;
  }
  