<div class="building-section">
  <div class="building-name">[{{ buildingName }}]</div>
  <div class="building-data">
    <div class="logo-container">
      <img src="assets/Buildings.png" alt="Buildings">
      <p>{{ textBuildings }}</p>
      <!-- <p>Simulation :</p> -->
    </div>
    <div class="logo-container">
      <img src="assets/Surface.png" alt="Surface">
      <p>{{ textSurface }}</p>
      <!-- <p>{{ textSurfaceSimulation }}</p> -->
    </div>
    <div class="logo-container">
      <img src="assets/ParkingPlaces.png" alt="ParkingPlaces">
      <p>{{ textParkingPlaces }}</p>
      <!-- <p>{{ textParkingPlacesSimulation }}</p> -->
    </div>
    <div class="logo-container">
      <img src="assets/Euros.png" alt="Euros">
      <p>{{ textEuros }}</p>
      <!-- <p>{{ textEurosSimulation }}</p> -->
    </div>
    <div class="logo-container">
      <img src="assets/PourcentageAug.png" alt="PourcentageAug">
      <p>{{ textPourcentageAug }}</p>
      <!-- <p>{{ textPourcentageAugSimulation }}</p> -->
    </div>
  </div>
</div>
