

.subtitle {
  font-size: 30px;
  margin: 20px 0;
}

.author-img,.contributor-img {
  width:20px;
  height:20px;
  border-radius: 50%;
}


.action-buttons {
  margin-bottom: 10px;
}

.action-buttons button {
  margin-right: 10px;
  cursor: pointer;
}



.simulations-table {
  margin-left: 3rem;
  margin-right: 3rem;
  border-collapse: collapse;
  
}

.simulations-table th, .simulations-table td {
  border: 2px solid #fdfdfd;
 
}

.simulations-table th {
  background-color: #024272;
  color: white;
}

.simulations-table td {
  text-align: center;
}

.simulations-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.simulations-table button {
  margin-right: 5px;
  cursor: pointer;
}

.simulations-table tbody tr td:nth-child(n+1):nth-child(-n+9)
{
  background-color: #d5deec;
  column-width: auto;
}

.simulations-table tbody tr td:nth-child(n+10):nth-child(-n+12)
{
  background-color: #f2f2f2;
  column-width: auto;
}

.mat-icon{
  
  background-color: transparent;
  border: transparent;


}

.headerbas {
  display: flex;
  background-color: transparent;
  border: none;

}

.inline-block2 button {
  margin-right: 10px;
  
  align-items: center;
  cursor: pointer;

}

.inline-block1 {
  display: flex;
  flex-direction: column;
  width:7rem;
 
  margin-right: 10px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}

.inline-block2{
  
  align-items: center;
  background-color: #f2f2f2;

  margin-bottom: 15px;
 
}


.inline-block2.td{
 
  background-color: #f2f2f2;

  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}




.inline-block1 button {
  margin: 0;
  

  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
 
}

.Filtres
{
  color: #2d2e2f;
  font-size: 12px;
  margin: 3px 0;
  padding:5px;
}

.filter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}



.Page {
  margin-left: 5rem

}
.btn-supp {

  margin-right:2px;
  cursor: pointer;

  
}

.icon {
  cursor: pointer;
}
.Tableau{
  cursor:pointer;
}







.btn-filtre  {
background-color: white;
border-radius: 10px;
display: inline-block;
text-align: center;
height: 45px;
width: 160px;
margin-left:  15px ;
margin-bottom: 0px;
padding: 0;
cursor: pointer;


}

.img-btn{
  width: 23px;
  margin-right:2px;
  margin-top: 5px;

}



.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  
  width: 250px;
  background-color: white;
  margin-left:1rem;
  margin-right: 3rem;
}
.search-box input[type="text"] {
  border-radius: 10px;
  height: 45px;
  width: 240px;
  margin-left: 15px;
  padding: 0 10 px;
  box-sizing: border-box;
border: transparent;
  text-align: center;
  flex-grow: 1;
}
.search-box button {
  background: none;
  border: transparent;
  cursor: pointer;
}
.search-box img {
  
    width: 23px;
    margin-right:2px;
    margin-top: 5px;
  
}